.coll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.025rem .015rem;
  align-items: center;
  margin: -0.16rem 0 -0.02rem;
  padding: 0.14rem 0.16rem 0.16rem;
  background: #fff;
  .coll-item {
    color: #4169e2;
    font-weight: 700;
    font-size: 0.12rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.1rem;
    color: #4169e2;
    font-weight: 700;
    font-size: 0.12rem;
    background: #f1f5ff;
    border-radius: 0.04rem;
  }
}
.icon {
  width: 0.25rem;
  height: 0.25rem;
  margin-right: 0.09rem;
}
.texts {
  display: flex;
  flex: 1 1;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  .title {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 0.12rem;
    line-height: 1.3;
  }
  .sub-title {
    margin-top: 0.02rem;
    color: #666;
    font-weight: lighter;
    font-size: 0.09rem;
  }
}
