.mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 98;
}
.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  width: 3rem;
  font-size: 0.14rem;
  background-color: #fff;
  border-radius: 0.05rem;
  transform: translate(-50%, -50%);

  //   modal ele
  padding: 0.2rem 0.16rem;

  .header {
    margin-bottom: 0.08rem;
    color: #4169e2;
    font-weight: 500;
    font-size: 0.17rem;
    line-height: 0.24rem;
  }
  .content {
    height: 3.4rem;
    margin-right: -0.05rem;
    padding-right: 0.05rem;
    overflow: auto;
  }
  .close-wrapper {
    position: absolute;
    bottom: -0.61rem;
    left: 50%;
    width: 0.41rem;
    height: 0.41rem;
    line-height: 0.3rem;
    text-align: center;
    border-radius: 100%;
    transform: translateX(-50%);
    img {
      width: 100%;
      height: 100%;
    }
  }
}
