.banner {
  &-wrapper {
    padding-bottom: calc(0.6rem + env(safe-area-inset-bottom));
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
      Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    background-color: #f7f7f7;
    border: 0.01rem solid transparent;
  }
}
